
    <div class="ms-site-container">
      <!-- Modal -->
      <div class="modal modal-primary" id="ms-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog animated zoomIn animated-3x" role="document">
          <div class="modal-content">
            <div class="modal-header d-block shadow-2dp no-pb">
              <button type="button" class="close d-inline pull-right mt-2" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="zmdi zmdi-close"></i>
                </span>
              </button>
              <div class="modal-title text-center">
                <span class="ms-logo ms-logo-white ms-logo-sm mr-1">T</span>
                <h3 class="no-m ms-site-title">Tipi
                  <span>Git</span>
                </h3>
              </div>
              <div class="modal-header-tabs">
                <ul class="nav nav-tabs nav-tabs-full nav-tabs-3 nav-tabs-primary" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a routerLink="/login" aria-controls="ms-login-tab" role="tab" data-toggle="tab" class="nav-link active withoutripple">
                      <i class="zmdi zmdi-account"></i> Login</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a href="#ms-register-tab" aria-controls="ms-register-tab" role="tab" data-toggle="tab" class="nav-link withoutripple">
                      <i class="zmdi zmdi-account-add"></i> Register</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a href="#ms-recovery-tab" aria-controls="ms-recovery-tab" role="tab" data-toggle="tab" class="nav-link withoutripple">
                      <i class="zmdi zmdi-key"></i> Recovery Pass</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="modal-body">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="ms-login-tab">
                  <form autocomplete="off">
                    <fieldset>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-account"></i>
                          </span>
                          <label class="control-label" for="ms-form-user">Username</label>
                          <input type="text" id="ms-form-user" class="form-control"> </div>
                      </div>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                          </span>
                          <label class="control-label" for="ms-form-pass">Password</label>
                          <input type="password" id="ms-form-pass" class="form-control"> </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-6">
                          <div class="form-group no-mt">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox"> Remember Me </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button class="btn btn-raised btn-primary pull-right" href="login.component.html">Login</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                
                </div>
                <div role="tabpanel" class="tab-pane fade" id="ms-register-tab">
                  <form>
                    <fieldset>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-account"></i>
                          </span>
                          <label class="control-label" for="ms-form-user">Username</label>
                          <input type="text" id="ms-form-user" class="form-control"> </div>
                      </div>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-email"></i>
                          </span>
                        <label class="control-label" for="ms-form-email">Email</label>
                          <input type="email" id="ms-form-email" class="form-control"> </div>
                      </div>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                          </span>
                          <label class="control-label" for="ms-form-pass">Password</label>
                          <input type="password" id="ms-form-pass" class="form-control"> </div>
                      </div>
                      <div class="form-group label-floating">
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                          </span>
                          <label class="control-label" for="ms-form-pass">Re-type Password</label>
                          <input type="password" id="ms-form-pass" class="form-control"> </div>
                      </div>
                      <button class="btn btn-raised btn-block btn-primary">Register Now</button>
                    </fieldset>
                  </form>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="ms-recovery-tab">
                    <form>                 
                       <fieldset>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-account"></i>
                        </span>
                        <label class="control-label" for="ms-form-user">Username</label>
                        <input type="text" id="ms-form-user" class="form-control"> </div>
                    </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-email"></i>
                        </span>
                        <label class="control-label" for="ms-form-email">Email</label>
                        <input type="email" id="ms-form-email" class="form-control"> </div>
                    </div>
                    <button class="btn btn-raised btn-block btn-primary">Send Password</button>
                  </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <header class="ms-header ms-header-dark">
        <!--ms-header-dark-->
        <div class="container container-full">
          <div class="ms-title">
            <a href="index.html">
              <!-- <img src="assets/img/demo/logo-header.png" alt=""> -->
              <span class="ms-logo animated zoomInDown animation-delay-5">T</span>
              <h1 class="animated fadeInRight animation-delay-6">Tipi
                <span>Git</span>
              </h1>
            </a>
          </div>
          <div class="header-right">
            
            <a routerLink="/login" class="btn-circle btn-circle-primary no-focus animated zoomInDown animation-delay-8" data-toggle="modal" data-target="#ms-account-modal">
              <i class="zmdi zmdi-account"></i>
            </a>
            <form class="search-form animated zoomInDown animation-delay-9">
              <input id="search-box" type="text" class="search-input" placeholder="Search..." name="q" />
              <label for="search-box">
                <i class="zmdi zmdi-search"></i>
              </label>
            </form>
           
          </div>
        </div>
      </header>
      <nav class="navbar navbar-expand-md  navbar-static ms-navbar ms-navbar-primary">
        <div class="container container-full">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
              <!-- <img src="assets/img/demo/" alt=""> -->
              <span class="ms-logo ms-logo-sm">T</span>
              <span class="ms-title">Tipi
                <strong>Git</strong>
              </span>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="ms-navbar">
            <ul class="navbar-nav">
      
              
            </ul>
          </div>
          <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu">
            <i class="zmdi zmdi-menu"></i>
          </a>
        </div>
        <!-- container -->
      </nav>
      <div class="ms-hero-page ms-hero-img-city2 ms-hero-bg-primary">
        <div class="container">
          <div class="text-center mt-2">
            <img src="assets/img/demo/avatar5.jpg" alt="..." class="ms-avatar-hero animated zoomInDown animation-delay-7">
            <h1 class="color-white mt-4 fw-500 animated fadeInUp animation-delay-10">TipiGit : Project Management and Performance Calculation</h1>
         
      
          </div>
        </div>
      </div>
      <div class="container container-full pt-6">
        <div class="card card-block card-block-big wow fadeInUp" id="timeline">
          <h3 class="text-center fw-500 mb-6">  About TipiGit</h3>
          <ul class="ms-timeline-left">
            <li class="ms-timeline-left-item wow fadeInUp">
              <h4>Google</h4>
              <div class="ms-timeline-left-left">
                <h4 class="color-primary">Senior Software Engineer</h4>
                <time class="ms-timeline-left-time">2015 - 2016</time>
              </div>
              <span class="ms-timeline-left-city">Mountain View</span>
            
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
              <h4>Microsoft</h4>
              <div class="ms-timeline-left-left">
                <h4 class="color-primary">Web Developer</h4>
                <time class="ms-timeline-left-time">2015 - 2016</time>
              </div> San Francisco, CA 94107

              example@domain.com
             
             
              <span class="ms-timeline-left-city">San Fransisco</span>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
              <h4>Twitter</h4>
              <div class="ms-timeline-left-left">
                <h4 class="color-primary">Senior Software Engineer</h4>
                <time class="ms-timeline-left-time">2015 - 2016</time>
              </div>
              <span class="ms-timeline-left-city">Madrid</span>
              <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error.</p>
              <p>Iure quae, voluptates laudantium. Eaque fugiat labore aliquam, explicabo, iste nam modi esse. Esse ea, perspiciatis alias non natus reprehenderit id omnis.</p>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
              <h4>New York Times</h4>
              <div class="ms-timeline-left-left">
                <h4 class="color-primary">Software Engineer</h4>
                <time class="ms-timeline-left-time">2015 - 2016</time>
              </div>
              <span class="ms-timeline-left-city">New York</span>
              <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error, pariatur minima
                sint earum qui ea neque. Perspiciatis soluta, maxime dignissimos inpo on repudiandae sed vero amet nisi ut, dolores, placeat illo. Sunt molestiae.</p>
              <ul>
                <li>Delectus error quos expedita dignissimos quidem voluptatibus mollitia inventore aperiam laboriosam quisquam excepturi quasi quas, enim, similique voluptatum reprehenderit dicta quae dolores.</li>
                <li>Praesentium ullam, ratione ut dolor alias minima. Eius, corporis a, doloribus esse praesentium saepe quo delectus, quos, nobis sint repudiandae ratione.</li>
              </ul>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
              <h4>AGM Studio</h4>
              <div class="ms-timeline-left-left">
                <h4 class="color-primary">Founder &amp; Lead Developer</h4>
                <time class="ms-timeline-left-time">2015 - 2016</time>
              </div>
              <span class="ms-timeline-left-city">London</span>
              <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error, pariatur minima
                sint earum qui ea neque. Perspiciatis soluta, maxime dignissimos inpo on repudiandae sed vero amet nisi ut, dolores, placeat illo. Sunt molestiae.</p>
            </li>
          </ul>
        </div>
       
       
        <div class="card mt-4 wow fadeInUp" id="portfolio">
            <div class="card-block card-block-big">
              <h3 class="text-center fw-500 mb-4">Contact</h3>
              <div class="mw-800 center-block mb-4">
                <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                  <li role="presentation" class="nav-item">
                    <i class="color-warning zmdi zmdi-map mr-1"></i>
                  
                    <a href="http://about.hrdatabank.com/">
                      <p> http://about.hrdatabank.com </p>
                    </a>
                 
                  </li>
              
                  <li role="presentation" class="nav-item">
                      <i class="color-info zmdi zmdi-email mr-1"></i>
                      <strong>Email:</strong>
                      <a href="mailto:joe@example.com">example@domain.com</a>
                  </li>
                 
                  <li role="presentation" class="nav-item">
                      <i class="color-royal zmdi zmdi-phone mr-1"></i>
                      <strong>Phone:</strong> <p>73 503 814 </p>
                  </li>
                
                  <li role="presentation" class="nav-item">
                      
                      <a class="no-mb">
                        <i class="color-danger zmdi zmdi-pin mr-1"></i>
                       <strong>Adress:</strong> <p> 
                           Résidence Jawhara, Route de Kairouan,
                            Bloc A, 5000 Monastir, Tunisia,</p>
                   </a>
                  </li>
                </ul>
              </div>